<!-- <h1>Tasks#index</h1> -->
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
<div class="all-tasks">
  <h1  class="todo-header">todo</h1>
  <ul>
  <% @tasks.each do |task| %>
    <h3><%=task.name%></h2>
    <li>description: <%= task.describe %></li>
    <li>completed: <%= task.done %></li>

    <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %><!--task is the element in the loop-->

    <%= link_to "Edit", edit_task_path(task)%> <!--task is the element in the loop-->
  <% end %>
  </ul>
</div><!--end of all task-->
